div.home-body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.2);
}

div#cards div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40pt;
}

div.buttons {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.0vh 2.5vw;
}

div.card4 {
  width: 89vw;
  margin-left: 5.5vw;
  transform: translateY(11vh);
  z-index: 0;
}
div.card3 {
  width: 91vw;
  margin-left: 4.5vw;
  transform: translateY(9vh);
  z-index: 2;
}
div.card2 {
  width: 93vw;
  margin-left: 3.5vw;
  transform: translateY(7vh);
  z-index: 4;
}
div.card1 {
  width: 95vw;
  margin-left: 2.5vw;
  transform: translateY(5vh);
  z-index: 6;
}

.go-next {
  opacity: 0;
  transform: translateY(-100vh) !important;
}